body.dark {
    background-color: #1e1e1e;
    color: white;
}

body.dark .card {
    background-color: #2c2c2c;
    color: white;
}

.card {
    transition: 0.3s ease-in-out;
    border-radius: 12px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.saved {
    color: red;
}

#pagination button {
    margin: 3px;
}